
 <div id="footer" >
    <div class="container">

    	<p>Copyright &copy; {{ site.title }} 2016 - 
        <a href="https://github.com/meom-group"> <i class="icon fa-github"></i>  MEOM group</a> -
        <a href="{{site.baseurl}}//feed.xml"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> RSS </a>
        </p>

        <br>

        <div class="row">
 			<div class="col-sm-2">
				<h4> <a href="{{site.baseurl}}/about/"> About </a></h4>

				<h4> <a href="{{site.baseurl}}/people/"> People </a></h4>
			
				<h4> <a href="{{site.baseurl}}/projects"> Projects </a></h4>
				<h4> <a href="{{site.baseurl}}/code"> Code </a></h4>
				<h4> <a href="{{site.baseurl}}/data"> Data </a></h4>
			
			</div>

           <div class="col-sm-6">
            	
				<ul style="color:white">
					<br>
					<li> <a href="{{site.baseurl}}/unravel">Exploring ocean fine scales motions</a> </li>
					<li> <a href="{{site.baseurl}}/forecast">Quantifying chaos and uncertainties in the ocean evolution</a> </li>
					<li> <a href="{{site.baseurl}}/climate">Understanding the ocean role in the climate machinery</a> </li>
					<li> <a href="{{site.baseurl}}/nemo">Contributing to a european modeling infrastructure for ocean science, climate and operational applications</a> </li>
				</ul>
			</div>

			<div class="col-sm-2">
				<h4> <a href="{{site.baseurl}}/publications"> Publications </a></h4>
				<h4> <a href="{{site.baseurl}}/jobs"> Job Offers </a></h4>
				<h4> <a href="{{site.baseurl}}/news"> News </a></h4>
				<h4> <a href="{{site.baseurl}}/contact"> Contact </a></h4>
				
			</div>
		</div>
    </div>
</div>

 
