---
---
$brand-primary: #{{site.color.primary}};
$brand-secondary: #{{site.color.secondary}};
$font-size-base: 17px;
$font-family-sans-serif:  "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-heading: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-height: 60px;
$grey-color:       #828282;

@import "bootstrap";
@import "bootstrap/mixins";

@mixin border-bottom($color) {
    border-bottom: 1px solid $color;
}

.date {
    color: $brand-primary
}

body {
    margin-top: $navbar-height;
}

.fa-5x {
    font-size: 5em;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.w-logo {
    float: left;
    z-index: 1;
    clear: both;
    height: 100%;
    position: relative;
}

.w-logo-link {
    color: inherit;
    display: block;
    font-size: 0px;
    height: 100%;
}

.w-logo-img {
    height: 150px;
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.page__footer {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    clear: both;
    margin-top: 3em;
    color: #9ba1a6;
    background-color: #f2f3f3;
}

*::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Icon */

    .icon {
        position: relative;
        text-decoration: none;
    }

        .icon:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        .icon > .label {
            display: none;
        }

        .icon.major {
            text-align: center;
            cursor: default;
            background-color: #37c0fb;
            background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
            background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
            background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
            background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
            background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
            color: white;
            border-radius: 100%;
            display: inline-block;
            width: 5em;
            height: 5em;
            line-height: 5em;
            box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
            margin: 0 0 2em 0;
        }

            .icon.major:before {
                font-size: 36px;
            }

/*
********* Navbar *********
*/
.navbar {
    .navbar-brand {
        font-size: $font-size-base;
        text-align: center;
        padding: 5px 5px 5px 10px;

    .navbar-brand-heading {
            font-family: $font-family-sans-serif-heading;
            padding-bottom: 2px;
            margin: 2px;
            @include border-bottom($brand-primary);
        }
    }
}
/* Icon */

    .icon {
        position: relative;
        text-decoration: none;
    }

        .icon:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        .icon > .label {
            display: none;
        }

        .icon.major {
            text-align: center;
            cursor: default;
            background-color: #37c0fb;
            background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
            background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
            background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
            background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
            background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
            color: white;
            border-radius: 100%;
            display: inline-block;
            width: 5em;
            height: 5em;
            line-height: 5em;
            box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
            margin: 0 0 2em 0;
        }

            .icon.major:before {
                font-size: 36px;
            }


/* Box */

    .box {
        &.highlight {
            text-align: center;
        }   

        &.post {
            position: relative;
            margin: 0 0 2em 0;
            
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            
            .inner {
                margin-left: calc(30% + 2em);
                
                > :last-child {
                    margin-bottom: 0;
                }
            }

            .image {
                width: 30%;
                margin: 0;
            }
        }
    }

/* Image */

    .image {
        border: 0;
        display: inline-block;
        position: relative;
        border-radius: 5px;
        
        img {
            display: block;
            border-radius: 5px;
        }
        
        &.left {
            display: block;
            float: left;
            margin: 0 2em 2em 0;
            position: relative;
            top: 0.25em;

            img {
                display: block;
                width: 100%;
            }           
        }
        
        &.fit {
            display: block;

            img {
                display: block;
                width: 100%;
            }
        }
        
        &.featured {
            display: block;
            margin: 0 0 2em 0;
            
            img {
                display: block;
                width: 100%;
            }
        }
    }
    
/*
********* Welcome *********
*/
#welcome {
    .welcome-banner {
        @include make-lg-column(12);
        margin-bottom: 25px;

        .welcome-banner-heading {
            font-family: $font-family-sans-serif-heading;
            text-align: center;
            padding-bottom: 5px;
            @include border-bottom($brand-primary);
        }
    }

    .welcome-item {
        max-width: 350px;
        text-align: center;

        .welcome-title {
            font-family: $font-family-sans-serif-heading;
            margin: 10px;
            padding-bottom: 5px;
            @include border-bottom($brand-secondary);
        }
    }
}

/*
********* Bio *********
*/

#bio {
    .panel {
        border: none;
    }

    .thumbnail {
        margin-top: 25px;
        max-width: 250px;
    }
    
    .bio-heading {
        @include border-bottom($brand-primary);
    }
}

/*
********* People *********
*/
#people {
    .panel {
        border: none;
        @include box-shadow(0 0 0 rgba(0,0,0,0));
        margin: 0px 10px 0px 10px;
        min-height: 295px;
        max-height: 295px;
    }
    
    .panel-body {
        padding: 0px 3px 0px 3px;
    }

    .thumbnail {
        margin-top: 20px;
        max-height: 90px;
    }

    .person-name {
        padding-bottom: 5px;
        @include border-bottom($brand-primary);
    }
}

/*
********* Research *********
*/
#research {
    .container {
        padding-top: 40px;
    }

    .research-heading {
        font-family: $font-family-sans-serif-heading;        
    }
    
    .row {
        margin-top: 2 * $line-height-computed;
    }

    .recent-publications {
        margin-top: $line-height-computed;
    }

    img, video {
        min-height: 300px;
        max-height: 300px;
    }

    #research-threat-protection img,video {
        max-height: 250px;
    }
}

/*
********* Publications *********
*/
#publications {
    .publications-header {
        margin-bottom: $line-height-computed;
    }
}

/*
********* Contact *********
*/

#contact {
    .campus-map {
        margin-top: 25px;
        max-height: 300px;
    }
}

/*
********* Footer *********
*/
#footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background: #7E7E7E;
    color: #fff;
}
    #footer {
        padding: 4em 0 8em 0;
    }

        #footer a {
            color: inherit;
            border-bottom-color: rgba(71, 71, 71, 0.25);
        }

            #footer a:hover {
                color: #37c0fb;
                border-bottom-color: transparent;
            }

        #footer .container {
            margin-bottom: 4em;
        }

        #footer .icons {
            text-align: left;
            margin: 0;
        }

            #footer .icons a {
                color: #999999;
            }

                #footer .icons a:hover {
                    color: #474747;
                }

        #footer .copyright {
            color: #999999;
            margin-top: 1.5em;
            text-align: center;
            font-size: 0.9em;
        }


.imgcar {height:340px;width:250px;overflow:hidden;}
@media (min-width:250px) {
    .imgcar {height:340px;width:500px;overflow:hidden;}
    }
@media (min-width:500px) {
    .imgcar {height:340px;width:1000px;overflow:hidden;}
    }
@media (min-width:1000px) {
    .imgcar {height:340px;width:2052px;overflow:hidden;}
    }
  