---
layout: default
---
<section id="about">

    <div class="container" id="welcome">
        <div class="welcome-banner">
            <h2 class="welcome-banner-heading">{{ page.title }}</h2>
            
        </div>
    </div>

    <div class="container">
        
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        
                            
                    </div>
                    <div class="col-md-9">
                        <h3 class="bio-heading"> </h3>
                        

                        {{ page.content }}

                        {% if page.link %} 
                            <p class="date"> <a href="{{page.link}}"> En savoir plus </a> </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        
    </div>
</section>